/*
 * Sidebar
 * #003a43
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 150px;
    background-color: #003a43 !important; /* UIS theme */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
    .sidebar-sticky .nav-link {
        display: inline-block;
        /*-webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;*/
    }
        .sidebar-sticky .nav-link:hover {
            color: #0ebe24;
            cursor: pointer;
            -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -o-transform: scale(1.02);
            -ms-transform: scale(1.02);
            transform: scale(1.02);
        }

        .sidebar-sticky .nav-link:active {
            -moz-transform: scale(0.98);
            -webkit-transform: scale(0.98);
            -o-transform: scale(0.98);
            -ms-transform: scale(0.98);
            transform: scale(0.98);
        }
    .sidebar-sticky .nav-link i, span {
        display: inline-block;
        vertical-align:middle;
    }
    .sidebar-sticky .nav-link span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        font-weight:400;
    }

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #cfcfcf;
}

    .sidebar .nav-link.active {
        color: #218cff;
        /* background-color: #194d55; */
    }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
.dash-links .nav-item .nav-link {
    padding-left:15px;
    width:100%;
}

/* Right panel styling */
.dash-sub {
    padding:15px 10px 10px 15px;
}
.dash-sub-text {
    min-height:200px;
}

/*button .material-icons {
    margin: -3px 5px 0px 0px;
    font-size:18px;
    vertical-align: middle;
}*/


.card-body {
    padding:0.5rem;
}

@media (min-width: 576px) {
    .ml-sm-auto, .mx-sm-auto {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}
@media (min-width: 768px) {
    .ml-sm-auto, .mx-sm-auto {
        margin-left: 0 !important;
        padding-left: 150px !important;
    }
}

.navbar-subpage {
    padding-left: 165px; /* sidebar width */
}

.subpage-container {
    /*margin-left: -25px;*/
    margin-top: -10px;
}
.subpage-container-up, .subpage-container-down {
    padding: 15px;
}
.subpage-container-up {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee
}
.main.col-md-9 {
    min-width:100%;
    padding-right:0px !important;
}