body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap styling override */
.card {
    margin-bottom:10px;
}
    .card select {
        width: 100%;
        min-height:280px;
    }

/* Extra components */
.navbar-subpage {
    background-color: #e3f3fd;
    margin-bottom:10px;
    z-index:100;
}

/*Alert message placing */
.alert {
    position: absolute;
    top: 115px;
    right: 10px;
    z-index:100;
}
.nav-link-a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px !important;
}
.nav-link-span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0 !important;
    cursor: pointer;
}