html, body {
    height:100%;
}
body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap styling override */
.card {
    margin-bottom:10px;
}
    /*.card select {
        width: 100%;
        min-height:280px;
    }*/

/* Extra components */


/*Alert message placing */
.alert {
    position: absolute;
    top: 70px;
    right: 10px;
    z-index:100;
}
.nav-link-a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px !important;
}
.nav-link-span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0 !important;
    cursor: pointer;
}


.search-js {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    float: right;
    /* margin: 0px 5px 0px 5px; */
}

.navbar-master {
    box-shadow: 0px 0px 2px 0px #212529;
}


@media (min-width: 768px) {
    .mt-lg-0, .my-lg-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

button .material-icons {
    margin: -5px 5px -2px 0px;
    font-size: 24px;
    vertical-align: middle;
}

footer {
    height: 50px;
    background-color: #106470;
    width:100%;
    z-index:100;
}

main {
    height:100%;
    min-height:100%;
    position:relative;
}

